<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Track My Lyfts</title>
  <meta name="description" content="Check out this dashboard for your Lyft receipts!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="/lyft-shield.ico">
  <link rel="icon" href="/lyft-shield.ico">

  <base href="/">
  
  <link href="//fonts.googleapis.com/css?family=Unica+One" rel="stylesheet" type="text/css">

  <script src="//code.highcharts.com/highcharts.js"></script>

  <meta name="google-site-verification" content="KGxTlxImGo8MgkQkXjsEFvaN8LtRPggHkoKqRf4Rj9A" />

  <meta name="twitter:widgets:csp" content="on">

  <script type="text/javascript" src="//www.google-analytics.com/analytics.js"></script>
  <script type="text/javascript" src="/ga.js"></script>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="fb-root"></div>

  <div ng-app='app' ng-csp ng-csp-data ng-cloak ng-strict-di>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="dashboard">
            <img alt="Brand" src="/assets/lyft-shield-revised.png" width="38px" height="40px">
          </a>
          <button ng-show="currentUser" type="button" class="navbar-toggle collapsed" data-toggle="collapse" ng-click="revealCollapsed = !revealCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="!revealCollapsed" ng-show="currentUser">
          <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                {{currentUser.profile.name}}
              </a>
              <ul class="dropdown-menu">
                <li><a href ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div ui-view></div>

    <footer class="footer">
      <div class="container text-uppercase">
        <div class="row">
          <div class="col-xs-6 text-left text-muted"><a href="//glipcode.com" target="_blank">Glipcode</a>, Copyright © 2015</div>
          <div class="col-xs-6 text-right text-muted">Made with <span class="glyphicon glyphicon-heart"></span> using <a href="//angularjs.meteor.com" target="_blank"><img src="/assets/meteor-angular-logo-small.png"/></a></div>
        </div>
      </div>
    </footer>
  </div>

</body>